<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="katrina,alexei,jessica,ryan">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Keep It Simba'l</title>
    <link rel="shortcut icon" type="image/jpg" href="static/assets/images/project_logo.png"/>


    <!-- Bootstrap core CSS -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/templatemo-style.css">
    <link rel="stylesheet" href="../static/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="/">Keep It Simba'l</a>
              </div>
            </header>

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Credits</h1>
                    <p>To pull our project together, we gathered ideas from various sources listed in the table below.</p>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Tables -->
            <section class="tables">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-heading">
                      <h2>Citations</h2>
                    </div>
                    <div class="default-table">
                      <table>
                        <thead>
                          <tr>
                            <th>Author</th>
                            <th>Website Link</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Jonathan Oheix</td>
                            <td><a href="https://towardsdatascience.com/detecting-bad-customer-reviews-with-nlp-d8b36134dc7e">Detecting bad customer reviews with NLP</a></td>
                          </tr>
                          <tr>
                            <td>Susan Li</td>
                            <td><a href="https://towardsdatascience.com/a-complete-exploratory-data-analysis-and-visualization-for-text-data-29fb1b96fb6a">A Complete Exploratory Data Analysis and Visualization for Text Data</a></td>
                          </tr>
                          <tr>
                            <td>Boosts Lab</td>
                            <td><a href="https://boostlabs.com/blog/what-are-word-clouds-value-simple-visualizations/">Word Clouds & the Value of Simple Visualizations</a></td>
                          </tr>
                          <tr>
                            <td>takapy0210</td>
                            <td><a href="https://github.com/takapy0210/nlplot">Github</a></td>
                          </tr>
                          <tr>
                            <td>Lynn Margulis</td>
                            <td><a href="https://www.datasklr.com/ols-least-squares-regression/variable-selection">Feature Selection with Python</a></td>
                          </tr>
                          <tr>
                            <td>Ben Mabey</td>
                            <td><a href="https://github.com/bmabey/pyLDAvis">Github</a></td>
                          </tr>
                          <tr>
                            <td>Dan Nelson</td>
                            <td><a href="https://stackabuse.com/text-generation-with-python-and-tensorflow-keras/">Text Generation with Python and TensorFlow/Keras</a></td>
                          </tr>
                        </tbody>
                      </table>
                      <ul class="table-pagination">
                        <li><a href="#">1</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>


          </div>
        </div>

      <!-- Sidebar -->
      <div id="sidebar">

        <div class="inner">

          <!-- Search Box
          <section id="search" class="alt">
            <form method="get" action="#">
              <input type="text" name="search" id="search" placeholder="Search..." />
            </form>
          </section> -->
            
          <!-- Menu -->
          <nav id="menu">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="https://public.tableau.com/profile/alexei.flores#!/vizhome/PresentationDraft_16171323685150/Story1?publish=yes" target="_blank">Additional Exploratory Charts</a></li>
              <li>
                <span class="opener">More Charts</span>
                <ul>
                  <li><a href="sunburst">Sunburst</a></li>
                  <li><a href="treemap">Tree Map</a></li>
                  <li><a href="bigram">Common Bigrams</a></li>
                </ul>
              </li>
              <li><a href="citations">Citations</a></li>
              <li>Meet the Team!</li>
            </ul>
          </nav>

          <!-- Featured Posts -->
          <div class="featured-images">
            <div class="heading">
              <h2>Meet the Team! </h2>
            </div>
            <div class="owl-carousel owl-theme">
              <a href="https://www.linkedin.com/in/jessica-ramos-molina-38a269a0/" target="_blank">
                <div class="featured-item">
                  <img src="https://ca.slack-edge.com/T01C1SEK3L0-U01BUD1U76G-5b5f9cc1881a-512" alt="featured one">
                  <p>I am Jessica Molina -- a Disney enthusiast. Let's get connected on LinkedIn! </p>
                </div>
              <!-- </a> -->
              <a href="https://www.linkedin.com/in/alexei-frederick-flores-b818211b7/" target="_blank">
                <div class="featured-item">
                  <img src="https://ca.slack-edge.com/T01C1SEK3L0-U01C352JUUU-daf6e418f691-512" alt="featured two">
                  <p>I am Alexei Flores -- I am in my natural habitat when I sing Disney songs. Let's connect! </p>
                </div>
              </a>
              <a href="https://www.linkedin.com/in/ryan-murnane-691709188/" target="_blank">
                <div class="featured-item">
                  <img src="https://ca.slack-edge.com/T01C1SEK3L0-U01BNCB921H-3f9161ceb2d8-512" alt="featured three">
                  <p>Hi! I am Ryan Murnane -- Disneyland is alright but I enjoy it from time to time. Let's connect!</p>
                </div>
              </a>
              <a href="https://www.linkedin.com/in/katrina-nguyen-19106072/" target="_blank">
                <div class="featured-item">
                  <img src="https://ca.slack-edge.com/T01C1SEK3L0-U01BK49KV0V-b1238bec436c-512" alt="featured three">
                  <p>Hi! I am Katrina Nguyen -- as a SoCal native, Disneyland Anaheim is my second home. Let's connect!</p>
                </div>
              </a>
            </div>
          </div>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">Copyright &copy; 2021 SIMPLE Team
          </footer>

        </div>
    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <!-- Scripts -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<!-- Bootstrap core JavaScript -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <script src="static/js/browser.min.js"></script>
  <script src="static/js/breakpoints.min.js"></script>
  <script src="static/js/transition.js"></script>
  <script src="static/js/owl-carousel.js"></script>
  <script src="static/js/custom.js"></script>
</body>


  </body>

</html>
