<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="katrina,alexei,jessica,ryan">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Keep It Simba'l</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/templatemo-style.css">
    <link rel="stylesheet" href="../static/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index.html">Keep It Simba'l</a>
              </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4>Welcome to the most <em>sentimental</em> website on the world wide web.</h4>
                            <br>
                            <p>While you're here, browse through our page to explore what others have said about their experience at <strong>Disneyland</strong> theme parks in California, Hong Kong and Paris!</p>
                            <div class="primary-button">
                              <a href="#">Read More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Services -->
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="service-item first-item">
                      <div class="icon"></div>
                      <h4>What is Sentiment Analysis?</h4>
                      <p>In a nutshell, sentiment analysis is the process of detecting positive or negative sentiment in text. It’s often used by businesses to detect sentiment in social data and understand customers.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item second-item">
                      <div class="icon"></div>
                      <h4>Why is Sentiment Analysis important?</h4>
                      <p>Sentiment analysis is extremely important because it helps businesses quickly understand the overall opinions of their customers. Specifically, we will be exploring the sentiment of Disneyland guests.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Types of Sentiment Analysis</h4>
                      <p>There are a number of sentiment analysis models such as feelings and emotions, urgency and polarity. For the purpose of this project, we will focus on polarity (positive, negative, neutral).</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fourth-item">
                      <div class="icon"></div>
                      <h4>How Does Sentiment Analysis Work?</h4>
                      <p>Sentiment analysis, otherwise known as opinion mining, works thanks to natural language processing (NLP) and machine learning algorithms, to automatically determine the emotional tone behind online conversations. The algorithms can be rule-based, automatic, or hybrid.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fivth-item">
                      <div class="icon"></div>
                      <h4>Sentiment Analysis Challenges</h4>
                      <p>Sentiment analysis is one of the hardest tasks in natural language processing because even humans struggle to analyze sentiments accurately. Some of the main challenges are: Subjectivity and Tone, Context and Polarity, Irony and Sarcasm, Comparisons, and Defining Neutral.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item sixth-item">
                      <img src="https://media.giphy.com/media/odsNxyQQDb29O/giphy.gif" alt="fireworks">
                      <br>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Top Image -->
            <section class="top-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img class="body-image" src="static/assets/images/whitetroopers.jpg" alt="whitetroopers">
                    <div class="down-content">
                      <h4>Project Sypnosis</h4>
                      <p>Disneyland is the most magical place on earth and thousands of people visit every year. In this study, we are looking to analyze visitors’ experience by looking at the reviews for 3 different parks Hong Kong, California, and Paris. Basically, the most common form of data used in business analytics is quantitative. However, numbers and star reviews do not give an accurate picture of the full experience visitors enjoy at Disney Parks. By analyzing text reviews, Disney Parks can learn more about their visitors and their needs and wants; and the metrics associated with good reviews. After all, qualitative data can inform action items better. </p>
                      <div class="primary-button">
                        <a href="#">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Right Image -->
            <section class="right-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="left-content">
                      <h4>Exploratory Analysis</h4>
                      <p>As part of our exploratory analysis, we looked at the rating distributions to see if the ratings align to the polarity score. From the charts below, we see that the polarity with the polarity score in that the vast majority of sentiment polarity scores are greater than zero, means most of them are pretty positive.</p>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div id="histogram-rating"></div>
                  </div>
                  <div class="col-md-12">
                    <div id="histogram-polarity-neg"></div>
                  </div>
                  <div class="col-md-12">
                    <div id="histogram-reviewer"></div>
                  </div>
                  <div class="col-md-12">
                    <div id="polarity"></div>
                  </div>
                  <div class="col-md-12">
                    <div id="compound"></div>
                  </div>
                  <div class="col-md-12">
                    <div id="yuh"></div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-12" style="display: flex">
                      <div class="col-md-9"id="moneyPlot" style="height: 100%"></div>
                      <div class="column-md-3" style="contain: content">
                        <h6>Select a Word</h6>
                        <select name="importantWords" id="dropbtn">Select a Word</select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" style="display:flex; justify-content: center">
                    <div id="dense"></div>
                  </div>
                </div>
                <div class="primary-button">
                  <a href="#">Additional Charts</a>
                </div>
              </div>
            </section>
            <section></section>

            <!-- Left Image -->
            <section class="left-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <img src="static/assets/images/wordcloud.png" alt="word cloud">
                  </div>
                  <div class="col-md-6">
                    <div class="right-content">
                      <h4>Word Cloud</h4>
                      <p>Word clouds (also known as text clouds or tag clouds) work in a simple way: the more a specific word appears in a source of textual data (such as a speech, blog post, or database), the bigger and bolder it appears in the word cloud.</p>
                      <p>From the reviews in our dataset, we get a glimpse of what kind of words appear in our reviews. Most of the words are indeed related to the experience of the park visitors: magical, pricey, clean.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Right Image -->
            <section class="right-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="left-content">
                      <h4>Sentiment Reviews</h4>
                      <p>To begin our sentiment analysis, we use Vader, which is part of the NLTK moduel designed for sentiment analysis. Vader suses a lexicon of words to find which words are correlated with positives or negatives. It also takes into account the context of the sentences to determine the sentiment scores.</p>
                      <p>To preview whether the sentiment analysis works, we randomly selected 5 positive reviews and 5 negative reviews.</p>
                      <p>We see that that the analysis works! The positive reviews indeed correspond to some good feedbacks and the negative reviews correspond with the poor feedbacks. </p>
                      <div class="primary-button">
                        <a href="#">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <span>5 Random Positive Reviews</span>
                    <br>
                    <img src="static/assets/images/random_positive_reviews.png" alt="">
                    <br>
                    <br>
                    <span>5 Random Negative Reviews</span>
                    <br>
                    <img src="static/assets/images/random_negative_reviews.png" alt="">
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section> -->
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="index.html">Homepage</a></li>
                <li><a href="https://public.tableau.com/profile/alexei.flores#!/vizhome/PresentationDraft_16171323685150/Story1?publish=yes">Additional Exploratory Charts</a></li>
                <li>Meet the Team!</li>
              </ul>
            </nav>

            <!-- Featured Posts -->
            <div class="featured-images">
              <div class="heading">
                <h2>Meet the Team! </h2>
              </div>
              <div class="owl-carousel owl-theme">
                <a href="https://www.linkedin.com/in/jessica-ramos-molina-38a269a0/">
                  <div class="featured-item">
                    <img src="https://ca.slack-edge.com/T01C1SEK3L0-U01BUD1U76G-5b5f9cc1881a-512" alt="featured one">
                    <p>I am Jessica Molina -- a Disney enthusiast. Let's get connected on LinkedIn! </p>
                  </div>
                <!-- </a> -->
                <a href="https://www.linkedin.com/in/alexei-frederick-flores-b818211b7/">
                  <div class="featured-item">
                    <img src="https://ca.slack-edge.com/T01C1SEK3L0-U01C352JUUU-daf6e418f691-512" alt="featured two">
                    <p>I am Alexei Flores -- I am in my natural habitat when I sing Disney songs. Let's connect! </p>
                  </div>
                </a>
                <a href="https://www.linkedin.com/in/ryan-murnane-691709188/">
                  <div class="featured-item">
                    <img src="https://ca.slack-edge.com/T01C1SEK3L0-U01BNCB921H-3f9161ceb2d8-512" alt="featured three">
                    <p>Hi! I am Ryan Murnane -- Disneyland is alright but I enjoy it from time to time. Let's connect!</p>
                  </div>
                </a>
                <a href="https://www.linkedin.com/in/katrina-nguyen-19106072/">
                  <div class="featured-item">
                    <img src="https://ca.slack-edge.com/T01C1SEK3L0-U01BK49KV0V-b1238bec436c-512" alt="featured three">
                    <p>Hi! I am Katrina Nguyen -- as a SoCal native, Disneyland Anaheim is my second home. Let's connect!</p>
                  </div>
                </a>
              </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2021 SIMPLE Team
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- Bootstrap core JavaScript -->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/transition.js"></script>
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/custom.js"></script>
    <script src="static/js/logic.js"></script>
</body>


  </body>

</html>
